server:
    port: 8888
    compression:
        enabled: true
        mime-types: text/html,application/xml,application/json,application/javascript,text/css,text/plain
        min-response-size: 1024
    ssl:
        enabled: false
        key-store: classpath:config/sample.jks
        key-store-password: secret
        key-password: password
    servlet:
        context-path: /
    http2:
      enabled: true

management:
    server:
        servlet:
            context-path: /management
        port: ${server.port}
    endpoints:
        web:
            base-path: /

spring:
    profiles:
        active: dev
    application:
        admin:
            enabled: false
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        joda-date-time-format: yyyy-MM-dd HH:mm:ss
        default-property-inclusion: NON_NULL
        time-zone: Asia/Shanghai
        serialization:
            WRITE_ENUMS_USING_TO_STRING: true
            FAIL_ON_EMPTY_BEANS: false
        deserialization:
            READ_ENUMS_USING_TO_STRING: true
    mvc:
        date-format: yyyy-MM-dd HH:mm:ss
        view:
            prefix: /templates/
            suffix: .ftl
    freemarker:
        enabled: true
        cache: false
        request-context-attribute: request
        template-loader-path: classpath:/templates/

#mybatis:
#    config-location: classpath:config/mybatis-config.xml
#    mapper-locations: classpath*:mybatis/**/*.xml

mybatis-plus:
    config-location: classpath:config/mybatis-config.xml
    mapper-locations: classpath*:mybatis/**/*.xml
    # 实体扫描，多个package用逗号或者分号分隔
    # type-aliases-package: com.baayso.**.domain
    # 配置扫描通用枚举
    type-enums-package: com.baayso.**.domain.enums
    # 指定 MyBatis 的执行器
    executor-type: REUSE
    global-config:
        # 开启 SQL 解析缓存注解生效
        sql-parser-cache: true
        db-config:
            # 逻辑删除配置
            logic-delete-value: 'true' # 逻辑已删除值(默认为 1)
            logic-not-delete-value: 'false' # 逻辑未删除值(默认为 0)

easyopen:
    # 应用名称
    app-name: spring-boot-demo
    # API 默认版本号
    default-version: 1.0
    # 超时时间，5秒
    timeout-seconds: 5
    # 是否生成doc文档
    show-doc: true
    # 忽略所有接口验证，默认 false
    # ignore-validate: true
    # 是否开启WebFlux
    mono: false
    # app_key,secret键值对
    app-secret: {
        test: 123456,
        test2: 123456,
    }
    # 拦截器
    interceptors:
        - com.baayso.springboot.common.easyopen.interceptor.PerformanceInterceptor
        - com.gitee.easyopen.support.LimitInterceptor # 限流拦截器，放在首位
        - com.gitee.easyopen.support.PermissionInterceptor # 权限拦截器
        - com.baayso.springboot.common.easyopen.interceptor.LogInterceptor
    # 配置国际化消息
    isv-modules:
        - i18n/isv/error
        - i18n/isv/user_error
