<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

    <settings>
        <!-- 全局性地启用或禁用所有在mapper配置文件中配置的缓存，默认：true -->
        <setting name="cacheEnabled" value="false"/>

        <!-- 自动将数据库字段和java属性之间驼峰映射(包括嵌套嵌套的属性) -->
        <setting name="autoMappingBehavior" value="FULL"/>

        <!-- 全局性地启用或禁用延迟加载（当禁用时，所有关联的配置都会立即加载 ），默认：true -->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- 允许或禁止从单一的语句返回多个结果 multipleResultSetsEnabled集（需要驱动程序兼容），默认：true -->
        <setting name="multipleResultSetsEnabled" value="true"/>

        <!-- 使用列的标签而不是列的名称，默认：true -->
        <setting name="useColumnLabel" value="true"/>

        <!-- 配置默认的执行器，默认：SIMPLE -->
        <!-- SIMPLE：简单的执行器 -->
        <!-- REUSE：重用 prepared statements的执行器 -->
        <!-- BATCH：重用 statements并且进行批量更新的执行器 -->
        <setting name="defaultExecutorType" value="REUSE"/>

        <!-- 设置查询数据库超时时间，默认：Not Set(null) -->
        <setting name="defaultStatementTimeout" value="25000"/>

        <!-- 设置在查询结果遇到有下划线的命名时时，是否自动转化为驼峰式命名，默认：false -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeHandlers>
        <!-- Java 8 time (JSR 310) support for Mybatis -->
        <package name="com.github.javaplugs.mybatis"/>
    </typeHandlers>

    <plugins>
        <!-- mybatis分页插件，com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 4.0.0以后版本可以不设置该参数 -->
            <!-- <property name="dialect" value="mysql"/> -->
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit=0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <property name="pageSizeZero" value="true"/>
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="false"/>
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
            <!-- 不理解该含义的前提下，不要随便复制该配置 -->
            <property name="params" value="pageNum=pageHelperStart;pageSize=pageHelperRows;"/>
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <property name="supportMethodsArguments" value="true"/>
            <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
            <property name="returnPageInfo" value="check"/>
        </plugin>
    </plugins>

</configuration>
