<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace 必须指向 MyBatis DAO 接口 -->
<mapper namespace="com.baayso.springboot.tenant.dao.TenantDAO">

    <resultMap id="tenantResultMap" type="com.baayso.springboot.tenant.domain.TenantDO">
        <id property="id" column="id"/>
    </resultMap>

</mapper>
